*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* Primary colors */
  --Marine-blue: hsl(213, 96%, 18%);
  --Purplish-blue: hsl(243, 100%, 62%);
  --Pastel-blue: hsl(228, 100%, 84%);
  --Light-blue: hsl(206, 94%, 87%);
  --Strawberry-red: hsl(354, 84%, 57%);
  /* Neutral colors */
  --Cool-gray: hsl(231, 11%, 63%);
  --Light-gray: hsl(229, 24%, 87%);
  --Magnolia: hsl(217, 100%, 97%);
  --Alabaster: hsl(231, 100%, 99%);
  --White: hsl(0, 0%, 100%);
}

@font-face {
  font-family: Ubunto;
  font-weight: 100;
  src: url('./assets/fonts/Ubuntu-Regular.ttf');
}
@font-face {
  font-family: Ubunto;
  font-weight: 400;
  src: url('./assets/fonts/Ubuntu-Medium.ttf');
}
@font-face {
  font-family: Ubunto;
  font-weight: 700;
  src: url('./assets/fonts/Ubuntu-Bold.ttf');
}

html {
  font-size: 62.5%;
  font-family: Ubunto, sans-serif;
}

body {
  font-size: 1.6rem;
  text-align: center;
}

h1 {
  font-weight: bold;
}

.hide {
  display: none;
}

.container {
  position: relative;
  height: 100%;
  display: grid;
  align-content: center;
  background-color: var(--Light-blue);
  padding-block-end: 4rem;
}

.steps-counter img {
  position: absolute;
  top: 0;
  left: 0;
  /* For mobile image is moved out of flow */
  /* Left gets z index change based on size */
}

.step-status-container {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding-inline: 8rem;
  padding-block-start: 3rem;
}

.step-status-container .step-circle {
  width: 3.5rem;
  height: 3.5rem;
  border: 1px solid var(--Magnolia);
  border-radius: 50%;
  display: grid;
  align-content: center;
  color: var(--Magnolia);
}

.form-page {
  position: relative;
  background-color: var(--White);
  width: 90%;
  text-align: left;
  padding-inline: 2rem;
  padding-block: 3rem;
  border-radius: 1.5rem;
  margin-inline: auto;
  margin-block-start: 9.9rem;
  z-index: 1;
}

.form-page h1 {
  color: var(--Marine-blue);
  padding-block-end: 1rem;
}
.form-page p {
  color: var(--Cool-gray);
  font-weight: 100;
}

/* Form */
/* Page One */
/* TODO: Error handling */
.page-one .form-control {
  display: flex;
  flex-direction: column;
  padding-block-start: 1.2rem;
}
.page-one .form-control label {
  font-size: 1.2rem;
  font-weight: 100;
  color: var(--Marine-blue);
  padding-block-end: 0.2rem;
}

.page-one .form-control input {
  padding: 1rem;
  font-weight: 700;
  color: var(--Cool-gray);
  border-radius: 0.4rem;
  border: 1px solid var(--Light-gray);
}

/* page two */
/*
 TODO: Type outline
 TODO: Monthly/Yearly selected color
 TODO: Toggle side shift
*/
.page-two h2 {
  font-size: 1.6rem;
  color: var(--Marine-blue);
  padding-block-end: 0.5rem;
}
.page-two p {
  font-size: 1.6rem;
}
.page-two .form-control {
  padding: 1.6rem;
  border: 1px solid var(--Light-gray);
  border-radius: 1.2rem;
  margin-block: 1.2rem;
}

.page-two .form-control .tier-select {
  display: flex;
}

.page-two .form-control .tier-select img {
  padding-inline-end: 1.6rem;
}

.page-two .form-control .tier-select p {
  font-size: 1.4rem;
}

.page-two .year-month__toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--Magnolia);
  padding-block: 1.45rem;
  border-radius: 1.45rem;
  margin-block-start: 2.5rem;
}

.page-two .year-month__toggle .toggle-indicator {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 4rem;
  height: 2.2rem;
  background-color: var(--Marine-blue);
  padding-inline: 0.5rem;
  border-radius: 2rem;
  margin-inline: 1.5rem;
}

.page-two .year-month__toggle .toggle-indicator .toggle-indicator-ball {
  height: 1.2rem;
  width: 1.2rem;
  background-color: var(--Magnolia);
  border-radius: 50%;
}

/* Next step / Previous step btns */
/* 
  TODO: Add Go Back button when not on card One
*/
.btn {
  position: absolute;
  font-family: inherit;
  padding-block: 1.2rem;
  padding-inline: 1.3rem;
  border: none;
  border-radius: 0.5rem;
}

.btn:hover {
  cursor: pointer;
}

.next-btn {
  bottom: -5.3rem;
  right: 1.5rem;
  color: var(--White);
  background-color: var(--Marine-blue);
}

.back-btn {
  bottom: -5.3rem;
  left: 1.5rem;
  background-color: var(--White);
  color: var(--Cool-gray);
  font-weight: 400;
}
