*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  height: 100vh;
  font-size: 1.6rem;
  text-align: center;
}

.container {
  height: 100%;
  display: grid;
  align-content: center;
}

.left-top__side img {
  position: absolute;
  top: 0;
  left: 0;
  /* For mobile image is moved out of flow */
  /* Left gets z index change based on size */
}

.step-status-container {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding-inline: 8rem;
  padding-block-start: 4rem;
}

.step-status-container .step-circle {
  width: 3.5rem;
  height: 3.5rem;
  border: 1px solid white;
  border-radius: 50%;
  display: grid;
  align-content: center;
}
